* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(1, 1, 15);
}
.one {
    font-family: 'Gill Sans MT';
    margin-top: 28px;
    margin-left: 28px;
    color: rgb(75, 247, 23);
}
ul li a{
    text-decoration: none;
    margin-left: 88px;
    font-family: 'Gill Sans MT';
    color:rgb(75, 247, 23);
}
a:hover {
    color:rgb(21, 243, 243);
}
ul li {
    list-style-type: none;
    display: inline-block;
}
.define, .cons {
    display: inline-block;
}
.cons{
    padding-left: 30%;
}
.content {
    background-color: white;
    height: 80px;
    margin-top: 30px;
}
.heading {
    text-align: center;
    font-weight: 20px;
    font-family: 'Lucida Sans Unicode';
}
.describe {
    text-align: center;
}
.description {
    color:rgb(75, 247, 23);
    font-family: 'Gill Sans MT';
    margin-top: 28px;
    margin-left: 28px;
}
.container {
    background-color: blueviolet
    margin-top: 28px;
    margin-left: 28px;
    font-family: 'Gill Sans MT';
}
.dining